<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left"><%=session[:segmentName]%></h1>
    <ul class="pull-right breadcrumb">
      <li><a href=""><%=session[:siteSegment]%></a></li>
      <li><a href=""><%=session[:sitePage]%></a></li>
      <li class="active"><%=session[:pageName]%></li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
