<div class="wrapper">
  <!--=== Header ===-->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <a class="logo" href="index.html">
        <img src="../assets/logo1-default.png" alt="Logo">
      </a>
      <!-- End Logo -->
      <!-- Topbar -->
      <div class="topbar">
        <ul class="loginbar pull-right">
        <%if @user.administrator%>
          <li><%= link_to "Admin", rails_admin_path%></li>
          <li class="topbar-devider"></li>
        <% end %>
          <li><a href="/profiles/profile_summary  "><%= current_user.username %></a></li>
          <li class="topbar-devider"></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
      <!-- End Topbar -->

      <!-- Toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
      <div class="container">
        <ul class="nav navbar-nav">
          <!-- Home -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              HOME
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Landing Page", pages_main_path %></li>

              <!-- AAA Page -->
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Menu 2</a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="One-Pages/Classic/index.html">- Submenu for menu 2</a></li>
                </ul>
              </li>
              <!-- End AAA Page -->

              <!-- AAA UI Page -->
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Menu 3</a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="E-Commerce/index.html">- Submenu for menu 3</a></li>
                </ul>
              </li>
              <!-- End AAA UI -->

              <!-- AAA Template -->
              <li class="dropdown-submenu">
                <a href="javascript:void(0);">Menu 4</a>
                <ul class="dropdown-menu">
                  <li><a target="_blank" href="Blog-Magazine/index.html">- Submenu for menu 4</a></li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0);">- Submenu for menu 4</a>
                    <ul class="dropdown-menu">
                      <li><a target="_blank" href="Blog-Magazine/blog_page_layouts1.html">Sub sub menu for menu 4</a></li>
                    </ul>
                  </li>
                  <li><a target="_blank" href="Blog-Magazine/blog_single.html">- Sub menu for menu 4</a></li>
                </ul>
              </li>
              <!-- End AAA Template -->

              
            </ul>
          </li>
          <!-- End Home -->

          <!-- BBB Pages -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Menu BBB
            </a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Menu 1</a></li>
            </ul>
          </li>
          <!-- End BBB Pages -->

          <!-- CCC -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Menu CCC
            </a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Menu 1</a></li>
            </ul>
          </li>
          <!-- End CCC -->

          <!-- DDD -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
             Menu DDD
            </a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Menu 1</a></li>
            </ul>
          </li>
          <!-- End dd -->

          <!-- EEE -->
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Menu EEE
            </a>
            <ul class="dropdown-menu">
              <li><a href="index.html">Menu 1</a></li>
            </ul>
          </li>
          
          <!-- End EEE -->

          <!-- FFF -->
          <li class="dropdown mega-menu-fullwidth active">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Menu FFF
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content disable-icons">
                  <div class="container">
                    <div class="row equal-height">
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><h3>Segment 1</h3></li>

                          <!-- Sub segment 1 -->
                          <li><a href="shortcode_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> Menu item 1</a></li>
                          <li><a href="shortcode_typo_headings.html"><i class="fa fa-magic"></i> Menu item 2</a></li>
                          <li><a href="shortcode_typo_dividers.html"><i class="fa fa-ellipsis-h"></i> Menu item 3</a></li>
                          <li><a href="shortcode_typo_blockquote.html"><i class="fa fa-quote-left"></i> Menu item 4</a></li>
                          <li><a href="shortcode_typo_boxshadows.html"><i class="fa fa-asterisk"></i> Menu item 5</a></li>
                          <li><a href="shortcode_typo_testimonials.html"><i class="fa fa-comments"></i> Menu item 5</a></li>
                          <li><a href="shortcode_typo_tagline_boxes.html"><i class="fa fa-tasks"></i> Menu item 6</a></li>
                          <li><a href="shortcode_typo_grid.html"><i class="fa fa-align-justify"></i> Menu item 7</a></li>
                          <!-- End Sub segment 1 -->

                          <!-- Sub segment 2 -->
                          <li><a href="shortcode_compo_messages.html"><i class="fa fa-comment"></i> Menu item 8</a></li>
                          <li><a href="shortcode_compo_labels.html"><i class="fa fa-tags"></i> Menu item 9</a></li>
                          <li><a href="shortcode_compo_media.html"><i class="fa fa-volume-down"></i> Menu item 10</a></li>
                          <li><a href="shortcode_compo_pagination.html"><i class="fa fa-arrows-h"></i> Menu item 11</a></li>
                          <!-- End Sub segment 2 -->
                        </ul>
                      </div>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><h3>Segment 2</h3></li>

                          <!-- Sub segment 1 -->
                          <li><a href="shortcode_btn_general.html"><i class="fa fa-flask"></i> Menu item 1</a></li>
                          <li><a href="shortcode_btn_brands.html"><i class="fa fa-html5"></i> Menu item 2</a></li>
                          <li><a href="shortcode_btn_effects.html"><i class="fa fa-bolt"></i> Menu item 3</a></li>
                          <!-- End Sub segment 1 -->

                          <!-- Sub segment 2 -->
                          <li><a href="shortcode_icon_general.html"><i class="fa fa-chevron-circle-right"></i> Menu item 4</a></li>
                          <li><a href="shortcode_icon_fa.html"><i class="fa fa-chevron-circle-right"></i> Menu item 5</a></li>
                          <li><a href="shortcode_icon_line.html"><i class="fa fa-chevron-circle-right"></i> Menu item 6</a></li>
                          <li><a href="shortcode_icon_line_christmas.html"><i class="fa fa-chevron-circle-right"></i> Menu item 7</a></li>
                          <li><a href="shortcode_icon_glyph.html"><i class="fa fa-chevron-circle-right"></i> Menu item 8</a></li>
                          <!-- End Sub segment 2 -->
                        </ul>
                      </div>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><h3>Segment 3</h3></li>

                          <!-- Sub segment 1 -->
                          <li><a href="shortcode_thumbnails.html"><i class="fa fa-image"></i> Menu item 1</a></li>
                          <li><a href="shortcode_accordion_and_tabs.html"><i class="fa fa-list-ol"></i> Menu item 2</a></li>
                          <li><a href="shortcode_timeline1.html"><i class="fa fa-dot-circle-o"></i> Menu item 3</a></li>
                          <li><a href="shortcode_timeline2.html"><i class="fa fa-dot-circle-o"></i> Menu item 4</a></li>
                          <li><a href="shortcode_table_general.html"><i class="fa fa-table"></i> Menu item 5</a></li>
                          <li><a href="shortcode_compo_progress_bars.html"><i class="fa fa-align-left"></i> Menu item 6</a></li>
                          <li><a href="shortcode_compo_panels.html"><i class="fa fa-columns"></i> Menu item 7</a></li>
                          <li><a href="shortcode_carousels.html"><i class="fa fa-sliders"></i> Menu item 8</a></li>
                          <li><a href="shortcode_maps_google.html"><i class="fa fa-map-marker"></i> Menu item 9</a></li>
                          <li><a href="shortcode_maps_vector.html"><i class="fa fa-align-center"></i> Menu item 10</a></li>
                          <!-- End Sub segment 1 -->
                        </ul>
                      </div>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><h3>Segment 4</h3></li>

                          <!-- Sub segment 1 -->
                          <li class="active"><a href="shortcode_form_general.html"><i class="fa fa-bars"></i> Menu item 1</a></li>
                          <li><a href="shortcode_form_general1.html"><i class="fa fa-bars"></i> Menu item 2</a></li>
                          <li><a href="shortcode_form_advanced.html"><i class="fa fa-bars"></i> Menu item 3</a></li>
                          <li><a href="shortcode_form_layouts.html"><i class="fa fa-bars"></i> Menu item 4</a></li>
                          <li><a href="shortcode_form_layouts_advanced.html"><i class="fa fa-bars"></i> Menu item 5</a></li>
                          <li><a href="shortcode_form_states.html"><i class="fa fa-bars"></i> Menu item 6</a></li>
                          <li><a href="shortcode_form_sliders.html"><i class="fa fa-bars"></i> Menu item 7</a></li>
                          <li><a href="shortcode_form_modals.html"><i class="fa fa-bars"></i> Menu item 8</a></li>
                          <!-- End sub segment 1 -->

                          <!-- Sub segment 2 -->
                          <li><a href="shortcode_compo_charts.html"><i class="fa fa-pie-chart"></i> Menu item 9</a></li>
                          <!-- End Sub segment 2 -->
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- End FFF -->

          <!-- GGG -->
          <li class="dropdown mega-menu-fullwidth">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
              Menu GGG
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content disable-icons">
                  <div class="container">
                    <div class="row equal-height">
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><a href="One-Pages/Accounting/index.html">Menu 1</a></li>
                          <li><a href="One-Pages/Agency/index.html">Menu 2</a></li>
                          <li><a href="One-Pages/Architecture/index.html">Menu 3</a></li>
                          <li><a href="One-Pages/Business/index.html">Menu 4</a></li>
                          <li><a href="One-Pages/Charity/index.html">Menu 5</a></li>
                          <li><a href="Landing-Pages/Consulting/index.html">Menu 6</a></li>
                          <li><a href="One-Pages/Courses/index.html">Menu 7</a></li>
                        </ul>
                      </div>

                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><a href="One-Pages/Construction/index.html">Menu 1</a></li>
                          <li><a href="One-Pages/Event/index.html">Menu 2 <small class="color-red">New</small></a></li>
                          <li><a href="One-Pages/Gym/index.html">Menu 3</a></li>
                          <li><a href="One-Pages/Lawyer/index.html">Menu 4</a></li>
                          <li><a href="One-Pages/App/index.html">Menu 5</a></li>
                          <li><a href="One-Pages/Music/index.html">Menu 6</a></li>
                          <li><a href="One-Pages/Photographer/index.html">Menu 7</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><a href="One-Pages/Restaurant/index.html">Menu 1</a></li>
                          <li><a href="One-Pages/RealEstate/index.html">Menu 2</a></li>
                          <li><a href="One-Pages/Shipping/index.html">Menu 3</a></li>
                          <li><a href="One-Pages/Spa/index.html">Menu 4</a></li>
                          <li><a href="One-Pages/Travel/index.html">Menu 5</a></li>
                          <li><a href="Landing-Pages/Wealth/index.html">Menu 6</a></li>
                          <li><a href="One-Pages/Wedding/index.html">Menu 7</a></li>
                        </ul>
                      </div>
                      <div class="col-md-3 equal-height-in">
                        <ul class="list-unstyled equal-height-list">
                          <li><a href="One-Pages/Hero-Fashion/index.html">Menu item 1</a></li>
                          <li><a href="One-Pages/Hero-Gym/index.html">Menu item 2</a></li>
                          <li><a href="One-Pages/Hero-Photography/index.html">Menu item 3</a></li>
                          <li><a href="One-Pages/Hero-Restaurant/index.html">Menu 4</a></li>
                          <li><a href="One-Pages/Hero-WebApp/index-dark.html">Menu 5</a></li>
                          <li><a href="One-Pages/Hero-WebApp/index.html">Menu 6</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <!-- End Demo Pages -->

          <!-- Search Block -->
          <li>
            <i class="search fa fa-search search-btn"></i>
            <div class="search-open">
              <div class="input-group animated fadeInDown">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
                </span>
              </div>
            </div>
          </li>
          <!-- End Search Block -->
        </ul>
      </div><!--/end container-->
    </div><!--/navbar-collapse-->
  </div>
  <!--=== End Header ===-->
