<!-- DD - utility file to prove that jQuery is working - delete later-->

<script>
$(document).ready(function(){
    $("p").click(function(){
        alert("The paragraph was clicked.");
    });
});
</script>
<p>Click on this paragraph.</p>
