<%= render "header_nav"%>
<!--=== Content Part ===-->
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<h1> Your content goes here</h1>
<!--=== End Content Part ===-->
<%= render "footer"%>
<%= render "style_switcher"%>
