		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<!-- Begin Content -->
				<div class="col-md-9">
					<div class="tag-box tag-box-v3 tag-text-space margin-bottom-40">
							<!-- Large modal -->
    						<a href="#myModal" role="button" class="heading-xs" data-toggle="modal" data-target=".bs-example-modal-lg">Launch demo modal</a>
							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
											<h4 id="myLargeModalLabel2" class="modal-title">Large Modal</h4>
										</div>
										<div class="modal-body">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec mattis odio. In hac habitasse platea dictumst. Vestibulum volutpat pretium porta. Cras mattis metus non ipsum porttitor pulvinar. Proin tempus erat ac neque gravida suscipit. Morbi faucibus turpis a turpis hendrerit sodales sed vel nisl. Praesent vitae magna luctus, blandit quam eu, semper mi.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- Large modal -->
					</div>
				</div>
				<!-- End Content -->
			</div>
		</div><!--/container--> 