<h1>Pages#index</h1>
<!-- This page is used to check whether signed in after a login attempt and if so
     Send to main page, if not send back to sign in. Will remove once I come up with a better mechanism-->

<%if user_signed_in?%>
    <p> You are signed in</p>
    <% controller.redirect_to pages_main_path %>
<%else%>
    <%controller.redirect_to open_pages_sign_up_path%>
<% end %>
