/* Add here all your css styles (customizations) */

/*  Using this to style the upload link on the profile settings page*/
.hidden {
    display: none !important;
  }

 /*Using this to style the error messages on the signup page*/
.em-sign-up-error{
    color: red;
    font-weight: 300;
    font-size: 14px;
 }

 .em-form-error{
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  color: #ee9393; !important
}

/*  Using this to style the remember me text on the signup page*/
.remember_me{
  color: white;
}

/* Login form - needed to add this to cope with Chrome resetting the field colours due to autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.fix-padding-login-and-reg-form{
  padding: 55px 75px!important;
  color: white;
}
